---
import Layout from "../layouts/Layout.astro";
import { RatingGame } from "../components/RatingGame.tsx";
import { getCollection } from "astro:content";

const beers = await getCollection("beers")
const beerCount = beers.length;
---

<Layout title=`Beer Battle`>
    <h1 class="text-xl mb-10">Beer Battle</h1>

    <RatingGame beers={beers} beerCount={beerCount} client:only />
</Layout>