---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import client from '../../utils/sanityClient.mjs';

const beersByState = await getCollection('beersByState')




---

<Layout>
    <h1 class="text-xl mb-10">States</h1>


    <table class="table-auto w-full sortable">
        <thead>
            <tr class="font-bold">
                <th class="p-2 border">State</th>
                <th class="p-2 border">Number of Beers</th>
                <th class="p-2 border">Avg Rating</th>
            </tr>
        </thead>
        <tbody>
            {beersByState.map(state => {
                if (state.data.name == "Unknown") {
                    return
                }
                console.log(state)
                const { name, city, id, filteredBeers, avgRating, _id } = state.data;
                return (
                <tr>
                <td class="p-2 border"><a href={`/states/${id}`}>{id}</a></td>
                <td class="p-2 border">{filteredBeers.length}</td>
                <td class="p-2 border">{avgRating}</td>
                
                </tr>
            )}

            )}
        </tbody>
    </table>
    

</Layout>

<script>

    import 'sortable-tablesort/dist/sortable.min.js'
    
    
    </script>