

---
---
<nav class="flex items-center">
    <ul>
        <li class="px-2"><a href="/#beers">Beers</a></li>
        <li class="px-2"><a href="/breweries">Breweries</a></li>
        <li class="px-2"><a href="/states">States</a></li>
        <li class="px-2"><a href="/checkins">Checkins</a></li>
        <li class="px-2"><a href="/beer-battle">Beer Battle</a></li>
    </ul>
</nav>

<style>
    nav {
        background-color: #333;
        padding: 1rem;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 1rem;
    }
    li {
        margin: 0;
    }
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
</style>